<a href="https://colab.research.google.com/github/Ravurumadhuri/Automate-Data-Cleaning/blob/main/Automate_data_cleaning_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

def clean_dataframe(df: pd.DataFrame, verbose: bool = True) -> pd.DataFrame:
    df = df.copy()

    # log helper
    def log(msg):
        if verbose:
            print(f"[INFO] {msg}")

In [8]:
import pandas as pd
import numpy as np

# Define a placeholder log function to avoid NameError if not imported/defined globally
def log(msg):
    print(f"[INFO] {msg}")

# Create a dummy DataFrame for demonstration purposes within this cell
data = {'Column One ': [1, 2, 3], 'Another Column': ['A', 'B', 'C']}
df = pd.DataFrame(data)

# 1. standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
log("Standardized column names.")

# Display the modified DataFrame to show the result
print("DataFrame after column standardization:")
print(df.head())

[INFO] Standardized column names.
DataFrame after column standardization:
   column_one another_column
0           1              A
1           2              B
2           3              C

In [10]:
# 2. remove exact duplicates
dup_count = df.duplicated().sum()
if dup_count > 0:
    df.drop_duplicates(inplace=True)
    log(f"Removed {dup_count} duplicate rows.")

In [12]:
# 3. trim and lowercase all string (object) values
for col in df.select_dtypes(include='object'):
    df[col] = df[col].astype(str).str.strip().str.lower()
log("Standardized string columns (lowercase + trimmed).")

[INFO] Standardized string columns (lowercase + trimmed).

In [13]:
# 4. detect missing values (including blanks and placeholders)
placeholder_values = ['n/a', 'na', '--', '-', 'none', 'null', '', 'nan']
df.replace(placeholder_values, np.nan, inplace=True)
null_report = df.isnull().sum()
null_report = null_report[null_report > 0]
if not null_report.empty:
    log(f"Missing values found in columns:\n{null_report}")

In [14]:
# 5. flag constant columns
constant_cols = [col for col in df.columns if df[col].nunique() == 1]
if constant_cols:
    log(f"Constant columns (consider removing): {constant_cols}")

In [15]:
# 6. flag high cardinality categorical columns
high_card_cols = [col for col in df.select_dtypes(include='object') if df[col].nunique() > 100]
if high_card_cols:
    log(f"High-cardinality columns (consider encoding strategies): {high_card_cols}")

# 7. detect numeric outliers using IQR
num_cols = df.select_dtypes(include=np.number).columns
outlier_report = {}
for col in num_cols:
    q1, q3 = df[col].quantile([0.25, 0.75])
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    outliers = df[(df[col] < lower) | (df[col] > upper)][col].count()
    if outliers > 0:
        outlier_report[col] = outliers
if outlier_report:
    log(f"Potential numeric outliers detected:\n{outlier_report}")

# 8. convert applicable columns to category
for col in df.select_dtypes(include='object'):
    n_unique = df[col].nunique()
    if n_unique < len(df) * 0.05:
        df[col] = df[col].astype('category')
log("Converted suitable object columns to category dtype.")

log("Data cleaning complete.")
# return df

[INFO] Converted suitable object columns to category dtype.
[INFO] Data cleaning complete.

In [19]:
import pandas as pd
import numpy as np

def log(msg):
    print(f"[INFO] {msg}")

df = pd.read_csv('/content/loan-recovery.csv')

# Apply cleaning steps directly to df
# 1. standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
log("Standardized column names.")

# 2. remove exact duplicates
dup_count = df.duplicated().sum()
if dup_count > 0:
    df.drop_duplicates(inplace=True)
    log(f"Removed {dup_count} duplicate rows.")

# 3. trim and lowercase all string (object) values
for col in df.select_dtypes(include='object'):
    df[col] = df[col].astype(str).str.strip().str.lower()
log("Standardized string columns (lowercase + trimmed).")

# 4. detect missing values (including blanks and placeholders)
placeholder_values = ['n/a', 'na', '--', '-', 'none', 'null', '', 'nan']
df.replace(placeholder_values, np.nan, inplace=True)
null_report = df.isnull().sum()
null_report = null_report[null_report > 0]
if not null_report.empty:
    log(f"Missing values found in columns:\n{null_report}")

# 5. flag constant columns
constant_cols = [col for col in df.columns if df[col].nunique() == 1]
if constant_cols:
    log(f"Constant columns (consider removing): {constant_cols}")

# 6. flag high cardinality categorical columns
high_card_cols = [col for col in df.select_dtypes(include='object') if df[col].nunique() > 100]
if high_card_cols:
    log(f"High-cardinality columns (consider encoding strategies): {high_card_cols}")

# 7. detect numeric outliers using IQR
num_cols = df.select_dtypes(include=np.number).columns
outlier_report = {}
for col in num_cols:
    q1, q3 = df[col].quantile([0.25, 0.75])
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    outliers = df[(df[col] < lower) | (df[col] > upper)][col].count()
    if outliers > 0:
        outlier_report[col] = outliers
if outlier_report:
    log(f"Potential numeric outliers detected:\n{outlier_report}")

# 8. convert applicable columns to category
for col in df.select_dtypes(include='object'):
    n_unique = df[col].nunique()
    if n_unique < len(df) * 0.05:
        df[col] = df[col].astype('category')
log("Converted suitable object columns to category dtype.")

log("Data cleaning complete.")

clean_df = df
print(clean_df.head())

[INFO] Standardized column names.
[INFO] Standardized string columns (lowercase + trimmed).
[INFO] High-cardinality columns (consider encoding strategies): ['borrower_id', 'loan_id']
[INFO] Potential numeric outliers detected:
{'outstanding_loan_amount': np.int64(3), 'monthly_emi': np.int64(35), 'num_missed_payments': np.int64(21), 'collection_attempts': np.int64(40)}
[INFO] Converted suitable object columns to category dtype.
[INFO] Data cleaning complete.
  borrower_id  age  gender employment_type  monthly_income  num_dependents  \
0       brw_1   59    male        salaried          215422               0
1       brw_2   49  female        salaried           60893               0
2       brw_3   35    male        salaried          116520               1
3       brw_4   63  female        salaried          140818               2
4       brw_5   28    male        salaried           76272               1

  loan_id  loan_amount  loan_tenure  interest_rate  ... collateral_value  \
0    ln_1      1445796           60          12.39  ...     1.727997e+06
1    ln_2      1044620           12          13.47  ...     1.180032e+06
2    ln_3      1923410           72           7.74  ...     2.622540e+06
3    ln_4      1811663           36          12.23  ...     1.145493e+06
4    ln_5        88578           48          16.13  ...     0.000000e+00

   outstanding_loan_amount  monthly_emi  payment_history num_missed_payments  \
0             2.914130e+05      4856.88          on-time                   0
1             6.652042e+05     55433.68          on-time                   0
2             1.031372e+06     14324.61          delayed                   2
3             2.249739e+05      6249.28          on-time                   1
4             3.918989e+04       816.46          on-time                   1

   days_past_due      recovery_status collection_attempts  collection_method  \
0              0  partially recovered                   1   settlement offer
1              0      fully recovered                   2   settlement offer
2            124      fully recovered                   2       legal notice
3             56      fully recovered                   2              calls
4             69      fully recovered                   0    debt collectors

  legal_action_taken
0                 no
1                 no
2                 no
3                 no
4                 no

[5 rows x 21 columns]